@{
    ViewBag.Title = "Home Page";
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etra Test</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script>
        //Creating Base
        $(function () {
            //initalize
            var mainArea = $("div#main");
            var btnHome = $("<button>", { id: "homepage", class: "col-sm-6" });
            var btnList = $("<button>", { id: "listpage", class: "col-sm-6" });

            //main
            mainArea.append(btnList);
            mainArea.append(btnHome);
            btnHome.html("Home Page");
            btnList.html("List Page");


            //events
            btnHome.click(function () {
                window.location.href = "/Home/Index";
            })
            btnList.click(function () {
                window.location.href = "/Home/List";
            })

        });
    </script>
</head>
<body>
    <div id="main" class="row container" style="margin-top:2em">
        
    </div>

    
</body>
</html>